{% extends 'base.html' %}
    {% block pozadina%}
        <style>
            body {
              {% load static %}
              background-image: url({% static "somikaubudvi.jpg" %});
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
              max-width: 100%;
              overflow-x: hidden;
            }
        </style>
    {% endblock %}
{% block content%}
     {% load static %}
    <script src={% static "skripta.js" %}></script>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="center" style="padding: 100px;">
            {% load static %}
            <img src={% static "Car_Hub_3_1-modified.png" %} id="logo" width="100%" alt="" >
            <br> <br>
            <table>
                <tr>
                    <td><a href=/pretragaOglasa><button type="button" class="btn btn-danger" style="width: 100px;">BUY</button></a></td>
                    <td> <a href=/pretragaOglasaRent><button type="button" class="btn btn-danger" style="width: 100px;" >RENT</button></a></td>
                    <td><a href="/postavljanjeOglasa"><button type="button" class="btn btn-danger" style="width: 100px;">SELL</button></a></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4"></div>
    </div>
{% endblock %}