{% extends 'base.html' %}

{% block content%}

    <script>
        function removeOptions(selectElement) {
            var i, L = selectElement.options.length - 1;
           for(i = L; i >= 0; i--) {
              selectElement.remove(i);
           }
        }

        function filtrirajModele(value){
            var data = JSON.parse("{{ data|escapejs }}");
            let niz = [];

            for(var x in data){
                if(value == data[x][0]){
                    niz.push(data[x][1]);
                }
            }
            return niz;
        }

        function ubaciModele(){
            var selectBrend = document.getElementById("brend");
            var value = selectBrend.options[selectBrend.selectedIndex].value;
            var selectModel = document.getElementById("modeli");
            removeOptions(selectModel);
            let naziviModela = filtrirajModele(value);
            var opt = new Option("Izaberite model", "nijeIzabrano")
            selectModel.appendChild(opt);
            for(var i = 0; i < naziviModela.length; i++){
                var opt = new Option(naziviModela[i], naziviModela[i])
                selectModel.appendChild(opt);
            }
            naziviModela = [];
        }
    </script>
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="/static/dizajn.css">
    {% load static %}
    <script src={% static "skripta.js" %}></script>

    <div class="row">
        <div class="col-sm-3"></div>

        <div class=" col-sm-7 box"; style="margin-top:1.3% ;">
            <form  method="post" style="text-align:justify;color: white;" enctype="multipart/form-data">
                <div style="width:50%;float:left; ">
                      <label for="" style="font-size:15px;">Brend:</label>
                      <select class="form-select" id="brend" name="dropdown_Brend"  onchange="ubaciModele() ">
                          <option value="nemaIzbora">Izaberite brend</option>
                          {% for brend in brendovi %}
                              <option value="{{ brend.brend }}">{{ brend.brend }}</option>
                          {% endfor %}
                      </select>
                      <br>
                      <label for="" style="font-size:15px;">Model:</label>
                      <select class="form-select" name="dropdown_Model"  id="modeli">
                          <option value="nemaIzbora">Izaberite model</option>
                      </select>
                      <br>
                      <input required name="images" type="file" multiple class="form-control-file form-select">
                      {% csrf_token %}
                      {{ forma_postaviOglas|crispy}}
                </div>
                <div style="width:50%;float:left ;padding-left: 20px;">
                    <div>
                        <input type="radio" id="radio1" name="izbor" style="margin-top: 20px" value="prodaja"><font style="color: white; font-size: 18px">
                        PRODAJA</font>
                    </div>

                    <div id="sell">
                        <input type="text" name="cenaProdaja"  style="margin-top: 20px; align-self: center" placeholder="Cena">
                    </div>

                    <div>
                        <input type="radio" id="radio2" name="izbor" style="margin-top: 30px"><font style="color: white; font-size: 18px" value="iznajmi"> IZNAJMLJIVANJE</font>
                    </div>
                    <div id="rent">

                        <input type="text" name="cenaIznajmljivanje" style="margin-top:10px; align-self: center" placeholder="Cena po danu">
                        <input type="text" name="Grad" style="margin-top: 10px; align-self: center" placeholder="Grad">

                    </div>
                    <div>
                        <textarea id="textarea" placeholder="Dodatne informacije" rows="2" cols="50" style="margin-top: 10px"></textarea>
                    </div>
                    <input type="submit" name="submit" class="btn" style="margin-top:10px ;">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
