{% extends 'base.html' %}

{% block content%}
    {% load static %}
    <script src={% static "skripta.js" %}></script>
    {% load static %}
    <link rel="stylesheet" href={% static "dizajn.css" %}>
    <div class="row">
        <div class="col-sm-4 rounded" style="margin-left: 30px;  margin-top: 50px;">
            <div style="background-color: rgba(0, 0, 0, 0.60);">
            {% load static %}
            <img src={% static "bmw2.png" %}  alt="Default" style="width: 400px; height: 400px;margin-left: 40px" class="rounded">
            <br>
            </div>
            <div class="row" style="color: white; font-size: 18px; margin-top: 30px;background-color: rgba(0, 0, 0, 0.60);">
                <div class="col-sm-8"> <a href="#" style="color: white"> Mika Mikic</a>
                <br>
                mikamikic@gmail.com
                <br>
                +38123123131
                </div>
                <div class="col-sm-4">
                    <button type="button" style="background-color: #e74c3c;margin-top: 20px">
                        Posalji poruku
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 rounded" style="margin-left: 30px;  margin-top: 50px;background-color: rgba(0, 0, 0, 0.60);">
            <h2 style="color: lightgray;text-align: center">Osnovne informacije</h2>
            <br>
            <div class="row">
                <div class="col-sm-6" style="text-align: left; font-size: 18px; color: white">
                    Brend:
                    <br>
                    <br>
                    Model:
                    <br>
                    <br>
                    Godiste:
                    <br>
                    <br>
                    Kilometraza:
                    <br>
                    <br>
                    Snaga motora(u ks):
                    <br>
                    <br>
                    Karoserija:
                    <br>

                </div>
                <div class="col-sm-6" style="text-align: right; font-size: 18px; color: white">
                    BMW
                    <br>
                    <br>
                    X5
                    <br>
                    <br>
                    2021
                    <br>
                    <br>
                    17053
                    <br>
                    <br>
                    395
                    <br>
                    <br>
                    SUV
                    <br>

                </div>
            </div>
        </div>
        <div class="col-sm-2 " style="margin-left: 30px;  margin-top: 50px; height: auto;">
            <div class="row rounded" style="font-size: 18px;color: white;margin-left: 5px;background-color: rgba(0, 0, 0, 0.60)">
                Car review: <br>
                <a href="https://www.youtube.com/watch?v=YpSZedDlABA">Link1</a>
            </div>
            <div class="row rounded" style="text-align: center;margin-top: 30px;color: white;background-color: rgba(0, 0, 0, 0.60);font-size: 30px">
                <h2>Cena</h2>
                <br>
                <div>78000</div>
            </div>
        </div>
    </div>
{% endblock %}
