{% extends 'base.html' %}

{% block content%}
    <script>
        function removeOptions(selectElement) {
            var i, L = selectElement.options.length - 1;
           for(i = L; i >= 0; i--) {
              selectElement.remove(i);
           }
        }
        function filtrirajModele(value){
            var data = JSON.parse("{{ data|escapejs }}");
            let niz = [];

            for(var x in data){
                if(value == data[x][0]){
                    niz.push(data[x][1]);
                }
            }
            return niz;
        }
        function ubaciModele(){
            var selectBrend = document.getElementById("brend");
            var value = selectBrend.options[selectBrend.selectedIndex].value;
            var selectModel = document.getElementById("modeli");
            removeOptions(selectModel);
            let naziviModela = filtrirajModele(value);
            var opt = new Option("Izaberite model", "nijeIzabrano")
            selectModel.appendChild(opt);
            for(var i = 0; i < naziviModela.length; i++){
                var opt = new Option(naziviModela[i], naziviModela[i])
                selectModel.appendChild(opt);
            }
            naziviModela = [];
        }
    </script>

    {% load crispy_forms_tags %}
    {% load static %}
    <script src={% static "skripta.js" %}></script>
    {% load static %}
    <link rel="stylesheet" href={% static "dizajn.css" %}>

    <div class="row">
        <div class="col-sm-3" style="position:fixed ;margin-top: 1%; margin-left: 3%;background-color: rgba(0, 0, 0, 0.89);color: white;" >
            <div style="width:100%;text-align: center;">
                {% csrf_token %}
                <form  method="post" style="text-align:justify ">
                    <label for="" style="font-size:15px;">Brend:</label>
                        <select id="brend" name="dropdown_Brend" class="form-select"  onchange="ubaciModele() ">
                            <option value="nemaIzbora">Izaberite brend</option>
                            {% for brend in brendovi %}
                                <option  value="{{ brend.brend }}">{{ brend.brend }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label for="" style="font-size:15px;">Model:</label>
                        <select class="form-select" id="modeli" name="dropdown_Model">
                            <option value="nemaIzbora">Izaberite model</option>
                        </select>
                        <br>
                        {{ forma_pretraziOglas|crispy}}
                        {% csrf_token %}
                    <input type="submit" value="Pretrazi" class="btn">
                </form>
            </div>
        </div>
        <div class="col-sm-8" style="margin-top:1% ;position:relative;margin-left: 30%;">
            {% for oglas in oglasi %}
                <a href="konkretanOglasProdaja/{{ oglas.idoglas }}">
                     <div id="oglas" style="display: inline-block; margin-left: 5%;" >
                        <div class="slika" style="background-color:red ;">
                            {% if oglas.boost == 1%}
                            <img  src="media/{{ slike|index:forloop.counter0 }}" alt="" width="300px" height="230px" style="border:gold solid;" >
                            {% else %}
                             <img  src="media/{{ slike|index:forloop.counter0 }}" alt="" width="300px" height="230px" style="border:red solid;" >
                            {% endif %}
                        </div>
                        <div class="opis" style="background-color:rgba(0, 0, 0, 0.89);; width: 300px; color: white;">
                            <p>
                                {% if naziv_brenda %}
                                    <label for="">Naziv modela: {{ naziv_brenda }} {{ naziv_modela }}</label>
                                    <br>
                                {% endif %}
                                {% if naziv_brenda_modela_list %}
                                    <label for="">Naziv modela: {{ naziv_brenda_modela_list|index:forloop.counter0 }}</label>
                                    <br>
                                {% endif %}
                                <label for="">Godiste: {{ oglas.godiste }}</label>
                                <br>
                                <label for="">Cena: {{ oglas.cena }}</label>
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

