{% extends 'base.html' %}
{#    {% block header%}#}
{#        <div class="row">#}
{#            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">#}
{#                <div class="container-fluid">#}
{#                    <a href="/pathTest" class="navbar-brand">#}
{#                        {% load static %}#}
{#                        <img {% static "carhublogo.png" %} alt="Logo" style="width: 100px;" class="rounded">#}
{#                    </a>#}
{#                    <a href="prijava.html" class="navbar-brand">#}
{#                        <img src=""  style="width: 40px;" align="right">#}
{#                    </a>#}
{#                </div>#}
{#            </nav>#}
{#        </div>#}
{#    {% endblock %}#}
sdsdsdsdsds
{% block content%}
    {% load static %}
    <script src={% static "skripta.js" %}></script>
    {% load static %}
    <link rel="stylesheet" href={% static "dizajn.css" %}>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="center" style="padding: 100px;">
            <div class="box">
                <form>
                    <span class="text-center">prijava</span>
                    <div class="input-container">
                        <input type="text" required=""/>
                        <label>Korisnicko ime</label>
                    </div>
                    <div class="input-container">
                        <input type="mail" required=""/>
                        <label>Lozinka</label>
                    </div>
                    <div class="input-container">
                        <label>Nemate nalog? <a href="registracija.html" style="color: white ;">Registujte se ovde!</a></label>
                        <br>
                    </div>
                        <button type="button" class="btn">prijavi sdsdsdsse</button>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
{% endblock %}
