{% extends 'base.html' %}

{% block content%}
    <style>
        * {
          box-sizing: border-box;
        }
        .container .row .prviRed .zvezdice .star_w label {
            float:left;
            {#transition: all 0.2s ease;#}
        }
        .container .row .prviRed .zvezdice .star_w{
            float:left;
        }
        .container .row .prviRed .zvezdice .star_w input:not(:checked) ~ label:hover,
        .container .row .prviRed .zvezdice .star_w input:not(:checked) ~ label:hover ~ label{
            color :#fd4;
        }
        .container .row .prviRed .zvezdice .star_w input:checked ~ label{
            color :#fd4;
        }
        /* a:hover {
            color: red;
            font-size: larger;
        } */
        .heading {
          font-size: 25px;
          margin-right: 25px;
        }

        .fa {
          font-size: 24px;
        }

        .checked {
          color: orange;
        }
        .container .row .prviRed .zvezdice .star_w .checked{
            color :#fd4;
        }

        /* Three column layout */
        .side {
          float: left;
          width: 15%;
          margin-top: 10px;
        }

        .middle {
          float: left;
          width: 70%;
          margin-top: 10px;
        }

        /* Place text to the right */
        .right {
          text-align: right;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        /* The bar container */
        .bar-container {
          width: 100%;
          background-color: #f1f1f1;
          text-align: center;
          color: white;
        }

        /* Individual bars */
        .bar-5 {width: {{ ocene5Bar }}%; height: 18px; background-color: #04AA6D;}
        .bar-4 {width: {{ ocene4Bar }}%; height: 18px; background-color: #2196F3;}
        .bar-3 {width: {{ ocene3Bar }}%; height: 18px; background-color: #00bcd4;}
        .bar-2 {width: {{ ocene2Bar }}%; height: 18px; background-color: #ff9800;}
        .bar-1 {width: {{ ocene1Bar }}%; height: 18px; background-color: #f44336;}

        /* Responsive layout - make the columns stack on top of each other instead of next to each other */
        @media (max-width: 400px) {
          .side, .middle {
            width: 100%;
          }
          /* Hide the right column on small screens */
          .right {
            display: none;
          }
        }
    </style>
<div class="container rounded mb-5" style=" margin-top: 50px">
    <div class="row" style="width:100% ;">
        <div class="col-xl-4 prviRed" style="background-color: rgba(0, 0, 0, 0.89);margin-left: -10%;position: fixed;">
            <div class="row">
                <div class="col-md-6 border-right text-center" style="color:white">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-3"><img class="rounded-circle mt-5" width="150px" src="/media/{{ request.user.slika }}"></div>
                    <div class="col-md-12 d-flex flex-column"><label class="labels">{{ user.username }}</label></div>
                    <div class="col-md-12 d-flex flex-column"><label class="labels">{{ user.email}}</label></div>
                    <div class="col-md-12 d-flex flex-column mb-3"><label class="labels">{{ user.kontakt_telefon }}</label></div>
                    <div class="col-md-12 d-flex flex-column mb-3"><a class="ChangeLink" href="urediProfil">Uredi Profil</a></div>
                </div>
                <div class="col-md-6 zvezdice mt-5" style="color:white">
                    <div class="heading">User Rating</div>
                        <div class="star_w">
                            {% for i in data%}
                                {% if i <= zvezdice %}
                                    <label class="fa fa-star checked"></label>
                                {% else %}
                                    <label class="fa fa-star"></label>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <br>
                    <div style="text-align: left">
                        <p>{{ prosecnaOcena }} average based on {{ ukupnoOcena }} reviews.</p>
                        <hr style="border:3px solid #f1f1f1">
                    </div>
                    <div class="row">
                        <div class="side">
                            <div>5&nbspstar</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-5"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>{{ ocene5 }}</div>
                        </div>
                        <div class="side">
                            <div>4&nbspstar</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-4"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>{{ ocene4 }}</div>
                        </div>
                        <div class="side">
                            <div>3&nbspstar</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-3"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>{{ ocene3 }}</div>
                        </div>
                        <div class="side">
                            <div>2&nbspstar</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-2"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>{{ ocene2 }}</div>
                        </div>
                        <div class="side">
                            <div>1&nbspstar</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-1"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>{{ ocene1 }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 py-5">
                <div style="text-align: center" class="align-items-center mb-3">
                    <h4 class="text-white-50">Komentari</h4>
                </div>
                <div style="border-style: groove;" class="row mt-3 text-white ">
                    <div class ="col-md-12" style="overflow-y:auto; max-height: 300px">
                         {% for comment in komentar %}
                            <div class="comments">
                                <p class="font-weight-bold">
                                    {{ comment.sadrzaj }}
                                    <div style="text-align: end">
                                        {% if user.id == comment.autor.id %}
                                            <a style="color:white" href="/profilKorisnika">{{ comment.autor }}</a>-
                                        {% else %}
                                            <a style="color:white" href="profilDrugogKorisnika/{{ comment.autor.id }}">{{ comment.autor }}</a> -
                                        {% endif %}

                                        <span class=" text-muted font-weight-normal text-left">{{ comment.timestamp.date }}</span>
                                        <hr>
                                    </div>
                                </p>
                            </div>
                         {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 2%;margin-left: 55%;" >
            <table>
                <tr>
                    <td>
                        <label for=""></label><button class="btn-danger" disabled>Moji oglasi</button>&nbsp;&nbsp;<input type="radio" name="oglasi" id="mojioglasi" style="transform: scale(1.5); ">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <button class="btn-danger" disabled>Sacuvani oglasi</button>&nbsp;&nbsp;<input type="radio" name="oglasi" id="sacuvanioglasi" style="transform: scale(1.5); ">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xl-8" style="margin-left:30% ;" id="MojiOglasi">
            {% for oglas in nizMojihOglasa %}
                {% if oglas.tip == 'p' %}
                    <a href="konkretanOglasProdaja/{{ oglas.idoglas }}">
                        <div id="oglas" style="display: inline-block;margin-left: 13%; " >
                            <div class="slika" style="background-color:red ;">
                                {% if oglas.boost == 1%}
                                    <img  src="media/{{ slike|index:forloop.counter0 }}" alt="" width="300px" height="200px" style="border:gold solid;" >
                                {% else %}
                                    <img  src="media/{{ slike|index:forloop.counter0 }}" alt="" width="300px" height="200px" style="border:red solid;" >
                                {% endif %}
                           </div>
                           <div class="opis" style="background-color:rgba(0, 0, 0, 0.89);; width: 300px; color: white;">
                               <p>
                                   <label for="">Naziv modela: {{ brendovi|index:forloop.counter0}} {{modeli|index:forloop.counter0}}</label>
                                   <br>
                                   <label for="">Godiste: {{ oglas.godiste }}</label>
                                   <br>
                                   <label for="">Cena: {{ oglas.cena }}</label>
                               </p>
                           </div>
                       </div>
                    </a>
                {% else %}
                    <a href="konkretanOglasRent/{{ oglas.idoglas }}">
                        <div id="oglas" style="display: inline-block;margin-left: 13%; " >
                            <div class="slika" style="background-color:red ;">
                                {% if oglas.boost == 1%}
                                    <img  src="media/{{ slike|index:forloop.counter0 }}" alt="" width="300px" height="200px" style="border:gold solid;" >
                                {% else %}
                                    <img  src="media/{{ slike|index:forloop.counter0 }}" alt="" width="300px" height="200px" style="border:red solid;" >
                                {% endif %}
                           </div>
                           <div class="opis" style="background-color:rgba(0, 0, 0, 0.89);; width: 300px; color: white;">
                               <p>
                                   <label for="">Naziv modela: {{ brendovi|index:forloop.counter0}} {{modeli|index:forloop.counter0}}</label>
                                   <br>
                                   <label for="">Godiste: {{ oglas.godiste }}</label>
                                   <br>
                                   <label for="">Cena: {{ oglas.cena }}</label>
                               </p>
                           </div>
                       </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-xl-8" style="margin-left:30% ;" id="SacuvaniOglasi">
            {% for oglas in nizSacuvanihOglasa %}
                {% if oglas.tip == 'p' %}
                    <a href="konkretanOglasProdaja/{{ oglas.idoglas }}">
                        <div id="oglas" style="display: inline-block;margin-left: 13%; " >
                            <div class="slika" style="background-color:red ;">
                                {% if oglas.boost == 1 %}
                                <img  src="media/{{ slike2|index:forloop.counter0 }}" alt="" width="300px" height="200px" style="border:gold solid;" >
                                {% else %}
                                 <img  src="media/{{ slike2|index:forloop.counter0 }}" alt="" width="300px" height="200px" style="border:red solid;" >
                                {% endif %}
                            </div>
                            <div class="opis" style="background-color:rgba(0, 0, 0, 0.89);; width: 300px; color: white;">
                               <p>
                                   <label for="">Naziv modela: {{ brendovi2|index:forloop.counter0}} {{modeli2|index:forloop.counter0}}</label>
                                   <br>
                                   <label for="">Godiste: {{ oglas.godiste }}</label>
                                   <br>
                                   <label for="">Cena: {{ oglas.cena }}</label>
                               </p>
                            </div>
                       </div>
                    </a>
                {% else %}
                    <a href="konkretanOglasRent/{{ oglas.idoglas }}">
                        <div id="oglas" style="display: inline-block;margin-left: 13%; " >
                            <div class="slika" style="background-color:red ;">
                                {% if oglas.boost == 1%}
                                    <img  src="media/{{ slike2|index:forloop.counter0 }}" alt="" width="300px" height="200px" style="border:gold solid;" >
                                {% else %}
                                    <img  src="media/{{ slike2|index:forloop.counter0 }}" alt="" width="300px" height="200px" style="border:red solid;" >
                                {% endif %}
                            </div>
                            <div class="opis" style="background-color:rgba(0, 0, 0, 0.89);; width: 300px; color: white;">
                               <p>
                                   <label for="">Naziv modela: {{ brendovi2|index:forloop.counter0}} {{modeli2|index:forloop.counter0}}</label>
                                   <br>
                                   <label for="">Godiste: {{ oglas.godiste }}</label>
                                   <br>
                                   <label for="">Cena: {{ oglas.cena }}</label>
                               </p>
                           </div>
                       </div>
                   </a>
               {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
    <script>
        $("#MojiOglasi").show();
        $("#SacuvaniOglasi").hide();
        $("#mojioglasi, #sacuvanioglasi").change(function () {
            if ($("#mojioglasi").is(":checked")) {
                $('#MojiOglasi').show();
                $("#SacuvaniOglasi").hide();
            }
            else if ($("#sacuvanioglasi").is(":checked")) {
                $('#SacuvaniOglasi').show();
                $("#MojiOglasi").hide();
            }
        });
    </script>
{% endblock %}