{% extends 'base.html' %}

{% block content%}
    <style>
        * {
          box-sizing: border-box;
        }
        .container .row .prviRed .zvezdice .star_w label {
            float:right;
            transition: all 0.2s ease;
        }
        .container .row .prviRed .zvezdice .star_w{
            float:left;
        }
        .container .row .prviRed .zvezdice .star_w input:not(:checked) ~ label:hover,
        .container .row .prviRed .zvezdice .star_w input:not(:checked) ~ label:hover ~ label{
            color :#fd4;
        }
        .container .row .prviRed .zvezdice .star_w input:checked ~ label{
            color :#fd4;
        }
        a:hover {
            color: red;
            font-size: larger;
        }
        .heading {
          font-size: 25px;
          margin-right: 25px;
        }

        .fa {
          font-size: 24px;
        }

        .checked {
          color: orange;
        }
        .container .row .prviRed .zvezdice .star_w input{
            display:none
        }


        /* Three column layout */
        .side {
          float: left;
          width: 15%;
          margin-top: 10px;
        }

        .middle {
          float: left;
          width: 70%;
          margin-top: 10px;
        }

        /* Place text to the right */
        .right {
          text-align: right;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        /* The bar container */
        .bar-container {
          width: 100%;
          background-color: #f1f1f1;
          text-align: center;
          color: white;
        }

        /* Individual bars */
        .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
        .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
        .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
        .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
        .bar-1 {width: 15%; height: 18px; background-color: #f44336;}

        /* Responsive layout - make the columns stack on top of each other instead of next to each other */
        @media (max-width: 400px) {
          .side, .middle {
            width: 100%;
          }
          /* Hide the right column on small screens */
          .right {
            display: none;
          }
        }
    </style>
<div class="container rounded mb-5" style="background-color: rgba(0, 0, 0, 0.89); margin-top: 150px">
    <div class="row">
        <div class="col-lg-6 prviRed">
            <div class="row">
            <div class="col-md-6 border-right text-center" style="color:white">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></div>
                <div class="col-md-12 d-flex flex-column"><label class="labels">{{ user.username }}</label></div>
                <div class="col-md-12 d-flex flex-column"><label class="labels">{{ user.email}}</label></div>
                <div class="col-md-12 d-flex flex-column mb-3"><label class="labels">{{ user.kontakt_telefon }}</label></div>
            </div>

            <div class="col-md-6 zvezdice mt-5" style="color:white">
                <div class="heading">User Rating</div>
                <div class="star_w">
                    <input class="sakri" type="radio" name="rate" id="rate-1">
                    <label for="rate-1" class="fa fa-star"></label>
                    <input class="sakri" type="radio" name="rate" id="rate-2">
                    <label for="rate-2" class="fa fa-star"></label>
                    <input class="sakri" type="radio" name="rate" id="rate-3">
                    <label for="rate-3" class="fa fa-star"></label>
                    <input class="sakri" type="radio" name="rate" id="rate-4">
                    <label for="rate-4" class="fa fa-star"></label>
                    <input class="sakri" type="radio" name="rate" id="rate-5">
                    <label for="rate-5" class="fa fa-star"></label>
                </div>
                <br>

                <div style="text-align: left">
                    <p>4.1 average based on 254 reviews.</p>
                    <hr style="border:3px solid #f1f1f1">
                </div>
                <div class="row">
                    <div class="side">
                        <div>5&nbspstar</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-5"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>150</div>
                    </div>
                    <div class="side">
                        <div>4&nbspstar</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-4"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>63</div>
                    </div>
                    <div class="side">
                        <div>3&nbspstar</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-3"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>15</div>
                    </div>
                    <div class="side">
                        <div>2&nbspstar</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-2"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>6</div>
                    </div>
                    <div class="side">
                        <div>1&nbspstar</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-1"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>20</div>
                    </div>
                </div>
            </div>
            </div>
            <div class="p-3 py-5">
                <div style="text-align: center" class="align-items-center mb-3">
                    <h4 class="text-white-50">Komentari</h4>
                </div>
                <div style="border-style: groove;" class="row mt-3 text-white ">
                    <div class ="col-md-12 ">
                         {% for comment in komentar %}
                            <div class="comments">
                                <p class="font-weight-bold">
                                    {{ comment.sadrzaj }}

                                        <div style="text-align: end">
                                            {{ comment.autor }} -
                                            <span class=" text-muted font-weight-normal text-left">{{ comment.timestamp.date }}</span>
                                            <hr>
                                        </div>
                                </p>

                            </div>
                            {% endfor %}
                    </div>
                    <div class ="col-md-5">

                    </div>
                </div>

            </div>
        </div>
    
        <div class="col-lg-8">

        </div>
        <div class="col-12" style="margin-bottom: 30px">

        </div>
    </div>
</div>

{% endblock %}