{% extends 'base.html' %}
{% block content%}
    <style>
        a:link {
            color: red;
            text-decoration: none;
        }

        a:visited{
            color: red;
        }

        a:hover {
            color: red;
            /* font-size: larger; */
        }
    </style>
    <script>
        $(document).ready(function ()
        {
            $("#ime").hide();
            $("#sifra").hide();
            $("#mejl").hide();
            $("#telefon").hide();
            $("#promenaImena").click(function (){
                $("#ime").show();
                $("#sifra").hide();
                $("#mejl").hide();
                $("#telefon").hide();
            });
            $("#promenaMejla").click(function (){
                $("#mejl").show();
                $("#sifra").hide();
                $("#ime").hide();
                $("#telefon").hide();
            });
            $("#promenaSifre").click(function (){
                $("#sifra").show();
                $("#ime").hide();
                $("#mejl").hide();
                $("#telefon").hide();
            });
            $("#promenaTelefona").click(function (){
                $("#telefon").show();
                $("#sifra").hide();
                $("#mejl").hide();
                $("#ime").hide();
            });
        })
    </script>
    {% load static %}
    <script src={% static "skripta.js" %}></script>
    {% load static %}
    <link rel="stylesheet" href={% static "dizajn.css" %}>

    <div class="container rounded mb-5" style="background-color: rgba(0, 0, 0, 0.89); margin-top:5%;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 ">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        {% load static %}
                        <img id="slika" src="media/{{ user.slika }}" style="width: 150px;" class="rounded-circle mt-5">
                        <div style="margin-left:20% ;font-size: 15px; margin-top: 10%;" >{{ forma_promenaSlike }}</div>
                    </div>
                    <div class="text-center" style="margin-bottom: 25px">
                        <button type="submit" value="{{ request.user.id }}" name="profil_id" class="btn btn-danger">Obrisi profil</button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right text-white-50"></h4>
                        </div>
                        <div class="row mt-3 text-white">
                            <div class ="col-md-5">
                                <div class="col-md-12 mb-3"><label class="labels" style="font-size: 20px;">{{ user.username}}</label></div>
                                <div class="col-md-12 mb-3"><label class="labels"style="font-size: 20px;">{{ user.email}}</label></div>
                                <div class="col-md-12 mb-3"><label class="labels"style="font-size: 20px;">{{ user.kontakt_telefon }}</label></div>
                            </div>
                            <div class ="col-md-5" style="margin-left:10% ;">

                                <div class="col-md-12 mb-3" id="promenaImena"><a class="ChangeLink" href="#">Promenite korisnicko ime:</a></div>
                                <div id="ime">
                                    <input type="text" name="ime1">
                                </div>
                                <div class="col-md-12 mb-3" id="promenaMejla"><a class="ChangeLink" href="#">Promenite email adresu</a></div>
                                <div id="mejl">
                                    <input type="text" name="mejl1">
                                </div>
                                <div class="col-md-12 mb-3" id="promenaTelefona"><a class="ChangeLink" href="#">Promenite kontakt telefon:</a></div>
                                <div id="telefon">
                                    <input type="text" name="telefon1">
                                </div>
                                <div class="col-md-12 mb-3" id="promenaSifre"><a class="ChangeLink" href="#">Promenite lozinku</a></div>
                                <div id="sifra">
                                    <input type="password" name="sifra1">
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-8 col-sm-12 mt-5 text-center"><input  type="submit" class="btn" style="margin-bottom:-25% ;" value="Sacuvaj promene"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}